* {
    margin: 0;
}

@font-face {
    font-family: "IcoMoon-Free";
    src: url("IcoMoon-Free.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body,
html {
    margin: 0;
    height: 100%;
}
.icon {
    font-family: "IcoMoon-Free";
}

.layout {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 100px;
    min-height: 100%;
    margin: 0 auto;
}

.header {
    background-color: white;
    margin: 15px 0 20px;
}

.menu {
    position: relative;
}

.menu > div {
    position: relative;
    border: none;
    background-color: white;
    margin: 0;
    user-select: none;
    font-family: "Bebas Neue";
    cursor: pointer;
    padding-left: 30px;
}

.menu > div > a {
    font-family: "IcoMoon-Free";
    text-decoration: none;
    color: rgb(54, 120, 219);
    line-height: 45px;
    font-size: 22pt;
}

.ghostMenu > p {
    line-height: 45px;
    font-size: 28pt;
}

.ghostMenu:hover .back {
    display: block;
}

.back {
    display: none;
}

.search {
    font-size: 16px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid rgb(54, 120, 219);
}

.search input {
    border: none;
    display: inline;
    height: 38px;
    width: 260px;
    border: none;
    outline: none;
}

.search .icon {
    display: inline;
    width: 30px;
    margin-top: 1px;
}

.searchPic {
    background: url("burger.png") no-repeat center center;
    float: left;
    width: 31px;
    height: 37px;
    margin: 0 5px 0 5px;
    overflow: hidden;
}

.popup {
    box-shadow: rgb(243, 62, 62) 0 0 5px 1px;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.popup a {
    text-decoration: none;
    font-family: "Bebas Neue";
    line-height: 50px;
    color: black;
    font-size: 26px;
    width: 100%;
    display: block;
}

.monsterBlinky:hover p,
.monsterPinky:hover p,
.monsterInky:hover p,
.monsterClyde:hover p {
    color: white;
}

.popup div {
    margin: 0 auto;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: 10px;
}
.popup p {
    display: inline-block;
}

.monsterBlinky div {
    background: url("blinky.png") no-repeat center center;
}

.monsterPinky div {
    background: url("pinky.png") no-repeat center center;
}
.monsterInky div {
    background: url("inky.png") no-repeat center center;
}

.monsterClyde div {
    background: url("clyde.png") no-repeat center center;
}

.monsterBlinky:hover {
    background-color: pink;
    border-radius: 10px 10px 0 0;
}

.monsterPinky:hover {
    background-color: rgb(54, 120, 219);
}

.monsterInky:hover {
    background-color: #fd9300;
}

.monsterClyde:hover {
    background-color: rgb(243, 62, 62);
    border-radius: 0 0 10px 10px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.leftContent {
    background: url("allGhosts.png") no-repeat center center;

    height: 300px;

    background-size: contain;
}
.rightContent {
    text-align: center;
}

.rightContent h1 {
    font-family: "Bebas Neue";
}

.footer {
    background-color: rgb(54, 120, 219);
}
.footer > div {
    height: 100%;
    margin: 0 auto;
    background: url("pacman.png") no-repeat center center;
}

/*Blinky*/
.footerBlinky {
    background-color: pink;
}

.searchBlinky {
    border: 2px solid pink;
}

.leftContentBlinky {
    background: url("BlinkyPage.png") no-repeat center center;
}

.searchPicBlinky {
    background: url("blinky.png") no-repeat center center;
}
.footerBlinky {
    background-color: pink;
}
/*************************************************************************/

/*Pinky*/
.searchPinky {
    border: 2px solid pink;
}

.searchPinky {
    border: 2px solid rgb(54, 120, 219);
}

.leftContentPinky {
    background: url("PinkyPage.png") no-repeat center center;
}

.searchPicPinky {
    background: url("pinky.png") no-repeat center center;
}
/****************************************************************************/

/*Clyde*/
.footerClyde {
    background-color: rgb(243, 62, 62);
}

.searchClyde {
    border: 2px solid rgb(243, 62, 62);
}

.leftContentClyde {
    background: url("clydePage.png") no-repeat center center;
}

.searchPicClyde {
    background: url("Clyde.png") no-repeat center center;
}
/*******************************************************************************/

/*Inky*/
.footerInky {
    background-color: #fd9300;
}

.searchInky {
    border: 2px solid #fd9300;
}

.leftContentInky {
    background: url("InkyPage.png") no-repeat center center;
}

.searchPicInky {
    background: url("inky.png") no-repeat center center;
}
/*******************************************************************************/

@media all and (min-width: 481px) {
    .leftContent {
        width: 30%;
        float: left;
    }
    .rightContent {
        display: flex;
        align-items: center;
        padding-left: 50px;
    }

    .content > div {
        width: 50%;
    }
    .search {
        margin: 0 100px 0 0;
        min-width: 350px;
        float: right;
    }
    .rightContent p {
        font-family: "Rubik", sans-serif;
        font-size: 16pt;
    }
    .menu > div {
        float: left;
    }
    .menu {
        float: left;
    }
    .back {
        min-width: 400px;
        padding: 10px 0 0 30px;
        left: 100px;
        top: 20px;
    }
}

@media all and (max-width: 480px) {
    .leftContent {
        width: 60vw;
        margin: 0 auto;
    }
    .content > div {
        padding: 0 10vw;
    }
    .rightContent p {
        font-size: 20pt;
        padding-bottom: 5vh;
    }
    .popup {
        max-width: 70vw;
    }
    .search {
        margin: 0 10px;
    }
    .menu > div {
        display: inline-block;
    }
    .back {
        position: absolute;
        width: 50vw;
        left: 24vw;
        top: 6vh;
    }
}
